/* Editor Menu Icon Css Start */

.menu-icon-angfuzins-insurance {
  background: rgb(22, 159, 230);
  background: linear-gradient(
    344deg,
    rgba(22, 159, 230, 1) 0%,
    rgba(22, 159, 230, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

.menu-icon-angfuzins-insurance a.menu-icon-angfuzins-insurance {
  background: rgb(22, 159, 230) !important;
  background: linear-gradient(
    344deg,
    rgba(22, 159, 230, 1) 0%,
    rgba(22, 159, 230, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
  color: #fff !important;
}

/* Editor Menu Icon Css End */
